doctype html
html
  head
    link(href='../stylesheets/main.css' rel='stylesheet')
    link(href='../stylesheets/prism.css' rel='stylesheet')
  body
    img(src='../images/file.svg')
    | 
    a(href='' + htmlUrl target='_blank')
        |  #{file}
    #lines
        pre
            code(class='language-' + language)
                | #{lines}

    
    img(src='../images/github.svg')
    | 
    a(href='https://www.github.com/' + owner + '/' + repo target='_blank')
            | #{owner}/#{repo}
    script(src='../javascripts/prism.js')
