doctype html
html
  head
    link(href='../stylesheets/main.css' rel='stylesheet')
    link(href='../stylesheets/prism.css' rel='stylesheet')
    link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
  body
    i(class='fa fa-file')
    | 
    a(href='' + htmlUrl + lineNumbers target='_blank')
        |  #{file}
    #lines
        pre
            code(class='language-' + language)
                | #{lines}

    
    i(class='fa fa-github')
    | 
    a(href='https://www.github.com/' + owner + '/' + repo target='_blank')
            | #{owner}/#{repo}
    script(src='../javascripts/prism.js')
