doctype html
html
  head
    script(src='https://api.apiary.io/seeds/embed.js')
  body
    #embedHere
    script.
      var embed = new Apiary.Embed({
      subdomain: '#{name}',
      element: '#embedHere'
      });
